@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--mybg: #0000;
	--myprimary: #00382d;
	--mysecondary: #005143;
	--mycont-2: #004f58;
	--mycont-3: #005143;
	--myoutline: #89938f;
}

html {scroll-behavior: smooth;}
h1, h2, h3 {margin: 0;}
h2, h3, p { margin-bottom: 1em;}
img {display: block; max-width: 100%;}

.border {
	border: 4px outset rgba(137, 147, 143, 0.72);
	border-radius: 12px;
}

.bg-1 {
	background-color: #3f4949;
}

.bg-2 {
	background-color: #191c1b;
}

.primary-1 {
	background-color: #003732;
}

.on-primary-1 {
	background-color: #1c3531;
}

.primary-2 {
	background-color: #005049
}

.on-primary-2 {
	background-color: #324b47;
}

.more-stuff-grid {
	background: #f4f4f4;
	padding: 4em 0;
	display: grid;
	grid-gap: 2em;
	align-items: center;
	grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(
			1em,
			1fr
		);
}

.from-left {
	grid-column: 2 / 3;
}

.from-right {
	grid-column: 3 / 4;
}
