@tailwind base;
@tailwind components;
@tailwind utilities;


  .home-intro {
    padding: 50vh 0;
    background: linear-gradient(180deg, #000000 10%, #f4f4f4 35%);
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
    text-align: center;
  }
  
  .home-about {
    padding: 4em 0;
    max-width: 900px;
    margin: 0 auto;
  }

  .grad-top {
    background: linear-gradient(180deg, #f4f4f4 0%, #000000 100%);
  }

  .grad-fill {
    background: #f4f4f4
  }
  
  .columns {
    display: flex;
  }
  
  .col + .col {
    margin-left: 1.5em;
  }
  
  .more-stuff-grid {
    background: #f4f4f4;
    padding: 4em 0;
    display: grid;
    grid-gap: 2em;
    align-items: center;
    grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em, 1fr);
  }
  
  .from-left {
    grid-column: 2 / 3;
  }
  
  .from-right {
    grid-column: 3 / 4;
  }